<header class="section-header">
  <h1 class="title">{{ title() }}</h1>

  <div class="header-actions">
    @if(showBack()){
    <button mat-button class="back-button" (click)="onBackClick()" aria-label="Go back to list">
      <mat-icon>arrow_back</mat-icon>
      <span class="back-text">Go back</span>
    </button>
    } @if(showAdd()){
    <button
      mat-fab
      color="primary"
      class="add-button"
      (click)="onAddClick()"
      aria-label="Add new item"
    >
      <mat-icon>add</mat-icon>
    </button>
    }
  </div>
</header>
